ENVIRONMENT=development
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/chessus_db?schema=public"
PORT=5000
# authentication 
SALT_ROUND=10
ACCESS_TOKEN_SECRET=ajfoiasjfojasofjsoiasfaojfojuo
REFRESH_TOKEN_SECRET=ajfoiasjfojasofjsoiasAOGIT904TIJMVLAJFOiojojo
ACCESS_TOKEN_EXPIREIN='1d'
REFRESH_TOKEN_EXPIREIN='30d'
CREDENTIAL_ENCRYPTION_KEY=replace_with_a_long_random_secret_key
# payment
STRIPE_SECRET_KEY=sk_test_xxx_example
STRIPE_WEBHOOK_SECRET=whsec_9e9579e6b1b6a4cb96c0c9607e81951954e797bb9f93e5173c61d430a160a0fb
CLIENT_URL_SUCCESSFUL=http://localhost:3000
CLIENT_URL_CANCEL=http://localhost:3000
# email otp 
EMAIL_USER=shalauddinahmedshipon@gmail.com
EMAIL_PASS=bibh mvqb mces desr
# admin creadentials 
ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD=123456
# cloudinary
CLOUDINARY_CLOUD_NAME=dplg1mhic
CLOUDINARY_API_KEY=514497598579337
CLOUDINARY_API_SECRET=gRarVTsHItLyAjBBnlmBtH-4pig

# lemon squeezy
LEMON_VARIANT_ID_MONTHLY=lemon_monthly_variant_id
LEMON_VARIANT_ID_LIFE_TIME=lemon_lifetime_variant_id
